header(class="prime-header" data-scroll-offset)
  div(class="prime-header__wrapper")
    div(class="prime-header--logo-wrapper")
      img(
        class="prime-header__logo"
        src="img/logo.svg"
        width="95"
        height="28"
        alt="Логотип компании TEST"
      )
    nav(class="prime-header__nav")
      ul(class="prime-header__links-list")
        li(class="prime-header__link-wrapper")
          a(class="prime-header__link" href="blank.html" id="clients-js").
            Клиентам
    button(class="prime-header__login" type="button" id="login-js").
      Войти
